# Build Folders
bin/
obj/

# Visual Studio files
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Rider files
.idea/
*.sln.iml

# Visual Studio Code files
.vscode/

# NuGet Packages
*.nupkg
*.snupkg
packages/
*.nuspec

# Logs
*.log

# Temporary files
*.tmp
*.temp

# User-specific files
*.db
*.pdb
*.mdb
*.cache
*.zip
*.tar.gz

# Publish folder
publish/
